*.suo
*.ncb
*.user
*.opendb
build/
output/
*.sdf
*.opensdf
ipch
*.asv
*.swp
*.exp
*.ilk
*.lib
*.pdb
git_refid.h
*.VC.db
*.iobj
*.ipdb
/*.vs
*_d.mex*
*.json
imgui.ini
*.mp4
*.mkv
*.png
log.mat
/JSON
.idea